<p id="notice"><%= notice %></p>

<p>
  <strong>Shared page:</strong>
  <%= @shared_page_item.shared_page_id %>
</p>

<p>
  <strong>Shareable:</strong>
  <%= @shared_page_item.shareable_id %>
</p>

<p>
  <strong>Shareable type:</strong>
  <%= @shared_page_item.shareable_type %>
</p>

<%= link_to 'Edit', edit_shared_page_item_path(@shared_page_item) %> |
<%= link_to 'Back', shared_page_items_path %>
