<p id="notice"><%= notice %></p>

<p>
  <strong>Kwikee product:</strong>
  <%= @kwikee_nutrition.kwikee_product_id %>
</p>

<p>
  <strong>Cal from sat tran fat:</strong>
  <%= @kwikee_nutrition.cal_from_sat_tran_fat %>
</p>

<p>
  <strong>Calories per serving:</strong>
  <%= @kwikee_nutrition.calories_per_serving %>
</p>

<p>
  <strong>Carbo per serving:</strong>
  <%= @kwikee_nutrition.carbo_per_serving %>
</p>

<p>
  <strong>Carbo uom:</strong>
  <%= @kwikee_nutrition.carbo_uom %>
</p>

<p>
  <strong>Cholesterol per serving:</strong>
  <%= @kwikee_nutrition.cholesterol_per_serving %>
</p>

<p>
  <strong>Cholesterol uom:</strong>
  <%= @kwikee_nutrition.cholesterol_uom %>
</p>

<p>
  <strong>Dvp biotin:</strong>
  <%= @kwikee_nutrition.dvp_biotin %>
</p>

<p>
  <strong>Dvp calcium:</strong>
  <%= @kwikee_nutrition.dvp_calcium %>
</p>

<p>
  <strong>Dvp carbo:</strong>
  <%= @kwikee_nutrition.dvp_carbo %>
</p>

<p>
  <strong>Dvp chloride:</strong>
  <%= @kwikee_nutrition.dvp_chloride %>
</p>

<p>
  <strong>Dvp cholesterol:</strong>
  <%= @kwikee_nutrition.dvp_cholesterol %>
</p>

<p>
  <strong>Dvp chromium:</strong>
  <%= @kwikee_nutrition.dvp_chromium %>
</p>

<p>
  <strong>Dvp copper:</strong>
  <%= @kwikee_nutrition.dvp_copper %>
</p>

<p>
  <strong>Dvp fiber:</strong>
  <%= @kwikee_nutrition.dvp_fiber %>
</p>

<p>
  <strong>Dvp folic acid:</strong>
  <%= @kwikee_nutrition.dvp_folic_acid %>
</p>

<p>
  <strong>Dvp iodide:</strong>
  <%= @kwikee_nutrition.dvp_iodide %>
</p>

<p>
  <strong>Dvp iodine:</strong>
  <%= @kwikee_nutrition.dvp_iodine %>
</p>

<p>
  <strong>Dvp iron:</strong>
  <%= @kwikee_nutrition.dvp_iron %>
</p>

<p>
  <strong>Dvp magnesium:</strong>
  <%= @kwikee_nutrition.dvp_magnesium %>
</p>

<p>
  <strong>Dvp manganese:</strong>
  <%= @kwikee_nutrition.dvp_manganese %>
</p>

<p>
  <strong>Dvp molybdenum:</strong>
  <%= @kwikee_nutrition.dvp_molybdenum %>
</p>

<p>
  <strong>Dvp niacin:</strong>
  <%= @kwikee_nutrition.dvp_niacin %>
</p>

<p>
  <strong>Dvp panthothenate:</strong>
  <%= @kwikee_nutrition.dvp_panthothenate %>
</p>

<p>
  <strong>Dvp phosphorus:</strong>
  <%= @kwikee_nutrition.dvp_phosphorus %>
</p>

<p>
  <strong>Dvp potassium:</strong>
  <%= @kwikee_nutrition.dvp_potassium %>
</p>

<p>
  <strong>Dvp protein:</strong>
  <%= @kwikee_nutrition.dvp_protein %>
</p>

<p>
  <strong>Dvp riboflavin:</strong>
  <%= @kwikee_nutrition.dvp_riboflavin %>
</p>

<p>
  <strong>Dvp sat tran fat:</strong>
  <%= @kwikee_nutrition.dvp_sat_tran_fat %>
</p>

<p>
  <strong>Dvp saturated fat:</strong>
  <%= @kwikee_nutrition.dvp_saturated_fat %>
</p>

<p>
  <strong>Dvp selenium:</strong>
  <%= @kwikee_nutrition.dvp_selenium %>
</p>

<p>
  <strong>Dvp sodium:</strong>
  <%= @kwikee_nutrition.dvp_sodium %>
</p>

<p>
  <strong>Dvp sugar:</strong>
  <%= @kwikee_nutrition.dvp_sugar %>
</p>

<p>
  <strong>Dvp thiamin:</strong>
  <%= @kwikee_nutrition.dvp_thiamin %>
</p>

<p>
  <strong>Dvp total fat:</strong>
  <%= @kwikee_nutrition.dvp_total_fat %>
</p>

<p>
  <strong>Dvp vitamin a:</strong>
  <%= @kwikee_nutrition.dvp_vitamin_a %>
</p>

<p>
  <strong>Dvp vitamin b12:</strong>
  <%= @kwikee_nutrition.dvp_vitamin_b12 %>
</p>

<p>
  <strong>Dvp vitamin b6:</strong>
  <%= @kwikee_nutrition.dvp_vitamin_b6 %>
</p>

<p>
  <strong>Dvp vitamin c:</strong>
  <%= @kwikee_nutrition.dvp_vitamin_c %>
</p>

<p>
  <strong>Dvp vitamin d:</strong>
  <%= @kwikee_nutrition.dvp_vitamin_d %>
</p>

<p>
  <strong>Dvp vitamin e:</strong>
  <%= @kwikee_nutrition.dvp_vitamin_e %>
</p>

<p>
  <strong>Dvp vitamin k:</strong>
  <%= @kwikee_nutrition.dvp_vitamin_k %>
</p>

<p>
  <strong>Dvp zinc:</strong>
  <%= @kwikee_nutrition.dvp_zinc %>
</p>

<p>
  <strong>Fat calories per serving:</strong>
  <%= @kwikee_nutrition.fat_calories_per_serving %>
</p>

<p>
  <strong>Fiber per serving:</strong>
  <%= @kwikee_nutrition.fiber_per_serving %>
</p>

<p>
  <strong>Fiber uom:</strong>
  <%= @kwikee_nutrition.fiber_uom %>
</p>

<p>
  <strong>Insol fiber per serving:</strong>
  <%= @kwikee_nutrition.insol_fiber_per_serving %>
</p>

<p>
  <strong>Insol fiber per serving uom:</strong>
  <%= @kwikee_nutrition.insol_fiber_per_serving_uom %>
</p>

<p>
  <strong>Mono unsat fat:</strong>
  <%= @kwikee_nutrition.mono_unsat_fat %>
</p>

<p>
  <strong>Mono unsat fat uom:</strong>
  <%= @kwikee_nutrition.mono_unsat_fat_uom %>
</p>

<p>
  <strong>Nutrient disclaimer 1:</strong>
  <%= @kwikee_nutrition.nutrient_disclaimer_1 %>
</p>

<p>
  <strong>Nutrient disclaimer 2:</strong>
  <%= @kwikee_nutrition.nutrient_disclaimer_2 %>
</p>

<p>
  <strong>Nutrient disclaimer 3:</strong>
  <%= @kwikee_nutrition.nutrient_disclaimer_3 %>
</p>

<p>
  <strong>Nutrient disclaimer 4:</strong>
  <%= @kwikee_nutrition.nutrient_disclaimer_4 %>
</p>

<p>
  <strong>Nutrition label:</strong>
  <%= @kwikee_nutrition.nutrition_label %>
</p>

<p>
  <strong>Omega 3 polyunsat:</strong>
  <%= @kwikee_nutrition.omega_3_polyunsat %>
</p>

<p>
  <strong>Omega 3 polyunsat uom:</strong>
  <%= @kwikee_nutrition.omega_3_polyunsat_uom %>
</p>

<p>
  <strong>Omega 6 polyunsat:</strong>
  <%= @kwikee_nutrition.omega_6_polyunsat %>
</p>

<p>
  <strong>Omega 6 polyunsat uom:</strong>
  <%= @kwikee_nutrition.omega_6_polyunsat_uom %>
</p>

<p>
  <strong>Omega 9 polyunsat:</strong>
  <%= @kwikee_nutrition.omega_9_polyunsat %>
</p>

<p>
  <strong>Omega 9 polyunsat uom:</strong>
  <%= @kwikee_nutrition.omega_9_polyunsat_uom %>
</p>

<p>
  <strong>Poly unsat fat:</strong>
  <%= @kwikee_nutrition.poly_unsat_fat %>
</p>

<p>
  <strong>Poly unsat fat uom:</strong>
  <%= @kwikee_nutrition.poly_unsat_fat_uom %>
</p>

<p>
  <strong>Potassium per serving:</strong>
  <%= @kwikee_nutrition.potassium_per_serving %>
</p>

<p>
  <strong>Potassium uom:</strong>
  <%= @kwikee_nutrition.potassium_uom %>
</p>

<p>
  <strong>Protein per serving:</strong>
  <%= @kwikee_nutrition.protein_per_serving %>
</p>

<p>
  <strong>Protein uom:</strong>
  <%= @kwikee_nutrition.protein_uom %>
</p>

<p>
  <strong>Sat fat per serving:</strong>
  <%= @kwikee_nutrition.sat_fat_per_serving %>
</p>

<p>
  <strong>Sat fat uom:</strong>
  <%= @kwikee_nutrition.sat_fat_uom %>
</p>

<p>
  <strong>Serving size:</strong>
  <%= @kwikee_nutrition.serving_size %>
</p>

<p>
  <strong>Serving size uom:</strong>
  <%= @kwikee_nutrition.serving_size_uom %>
</p>

<p>
  <strong>Servings per container:</strong>
  <%= @kwikee_nutrition.servings_per_container %>
</p>

<p>
  <strong>Sodium per serving:</strong>
  <%= @kwikee_nutrition.sodium_per_serving %>
</p>

<p>
  <strong>Sodium uom:</strong>
  <%= @kwikee_nutrition.sodium_uom %>
</p>

<p>
  <strong>Sol fiber per serving:</strong>
  <%= @kwikee_nutrition.sol_fiber_per_serving %>
</p>

<p>
  <strong>Sol fiber per serving uom:</strong>
  <%= @kwikee_nutrition.sol_fiber_per_serving_uom %>
</p>

<p>
  <strong>Starch per serving:</strong>
  <%= @kwikee_nutrition.starch_per_serving %>
</p>

<p>
  <strong>Starch per serving uom:</strong>
  <%= @kwikee_nutrition.starch_per_serving_uom %>
</p>

<p>
  <strong>Sub number:</strong>
  <%= @kwikee_nutrition.sub_number %>
</p>

<p>
  <strong>Sugar per serving:</strong>
  <%= @kwikee_nutrition.sugar_per_serving %>
</p>

<p>
  <strong>Sugar uom:</strong>
  <%= @kwikee_nutrition.sugar_uom %>
</p>

<p>
  <strong>Suger alc per serving:</strong>
  <%= @kwikee_nutrition.suger_alc_per_serving %>
</p>

<p>
  <strong>Suger alc per serving uom:</strong>
  <%= @kwikee_nutrition.suger_alc_per_serving_uom %>
</p>

<p>
  <strong>Total fat per serving:</strong>
  <%= @kwikee_nutrition.total_fat_per_serving %>
</p>

<p>
  <strong>Total fat uom:</strong>
  <%= @kwikee_nutrition.total_fat_uom %>
</p>

<p>
  <strong>Trans fat per serving:</strong>
  <%= @kwikee_nutrition.trans_fat_per_serving %>
</p>

<p>
  <strong>Trans fat uom:</strong>
  <%= @kwikee_nutrition.trans_fat_uom %>
</p>

<%= link_to 'Edit', edit_kwikee_nutrition_path(@kwikee_nutrition) %> |
<%= link_to 'Back', kwikee_nutritions_path %>
