Your order has been placed for the following item:<br/><br/>

Order Information:<br/>
You have requested <%= @ac_session_attributes["quantity"] %> of the following item: <%= @ac_export.ac_session_history.ac_session.ac_creator_template.title %>
<br/>
<br/>
Please review the information below as this is the shipping information we have on file. If it is not correct, please contact please contact <%= APP_NAME_PROPER %> as well as update your profile in the AdCreator.
<br/>
<br/>
Thank you for using the <%= APP_NAME_PROPER %> Brand Center.
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @user.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @user.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @user.fax_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
