Confirmation Email

Your order has been placed:<br/><br/>

Order Information:<br/>
<div class="field">
  Billing
  <%= render partial: 'orders/order_billing' %><br/><br/>
  Shipping
  <%= render partial: 'orders/order_shipping' %><br/><br/>

  Order Items
    <table>
      <tr>
        <td>Thumbnail</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Unit Price</td>
        <td>Total</td>
        <td>&nbsp;</td>
      </tr>
      <% @order.order_items.each do |item| %>
        <tr>
          <td><%= hidden_field_tag 'order[order_items_attributes][][id]', item.id %><%= image_tag(item.orderable.thumbnail_url) %></td>
          <td><%= item.description %></td>
          <td>
            <% if item.mailing_list.present? %>
              <%= item.mailing_list.title + ' (' + item.quantity.to_s + ')' %>
            <% else %>
              <%= item.quantity %>
            <% end %>
          </td>
          <td><%= sprintf('%.2f', (item.unit_price || 0)) %></td>
          <td><%= sprintf('%.2f', (item.item_total || 0)) %></td>
          <td></td>
        <% end %>
      </tr>
    </table>


    <table>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>Subtotal:</td>
          <td><%= sprintf('%.2f', (@order.sub_total || 0)) %></td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td><%#= @order.shipping_method %></td>
          <td>&nbsp;</td>
          <td>Shipping:</td>
          <td><%= @order.shipping_method %></td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>Total:</td>
          <td><%= sprintf('%.2f', (@order.total || 0)) %></td>
      </tr>
    </table>
  </div>
  <div class="actions">
  </div>

<br/>
