<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('email_unpublish_soon_notification_body_h', app_name_proper: APP_NAME_PROPER, date: @date) %></h1>
    <p>
      <p>
        <table border=1>
          <tr>
            <td><%= t("__owner__") %></td>
            <td><%= t("__asset_type__") %></td>
            <td><%= t("__title__") %></td>
            <td><%= t("__date__") %></td>
          </tr>
          <% @results.each do |asset| %>
            <tr>
              <td><%= asset['owner_email_address'] %></td>
              <td><%= t("asset_type_#{asset['class_name']}") %></td>
              <td><%= asset['title'] %></td>
              <td><%= asset['date'] %></td>
            </tr>
        <% end %>
      </p>
    </p>
  </body>
</html>