<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%=  @url %>, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      Your account for <%= @url %> has been activated.
    </p>
    <p>
      Username: <%= @user.username %>.<br/>
      Email Address: <%= @user.email_address %> <br/>
      First Name: <%= @user.first_name %> <br/>
      Last Name: <%= @user.last_name %> <br/>
      Address 1: <%= @user.address_1 %> <br/>
      Address 2: <%= @user.address_2 %> <br/>
      City: <%= @user.city %> <br/>
      State: <%= @user.state %> <br/>
      Zip: <%= @user.zip_code %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
