<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    You have successfully requested access to <%= @url %>, you will be notified once the account has been approved.<br/><br/>
    Registration Information<br/>
      username: <%= @user.username %> <br/>
      email_address: <%= @user.email_address %> <br/>
      first_name: <%= @user.first_name %> <br/>
      last_name: <%= @user.last_name %> <br/>
      title: <%= @user.title %> <br/>
      address_1: <%= @user.address_1 %> <br/>
      address_2: <%= @user.address_2 %> <br/>
      city: <%= @user.city %> <br/>
      state: <%= @user.state %> <br/>
      zip_code: <%= @user.zip_code %> <br/>
      phone_number: <%= @user.phone_number %> <br/>
      fax_number: <%= @user.fax_number %> <br/>
  </body>
</html>