<p id="notice"><%= notice %></p>

<p>
  <strong>Respondable:</strong>
  <%= @responds_to_attribute.respondable_id %>
</p>

<p>
  <strong>Respondable type:</strong>
  <%= @responds_to_attribute.respondable_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @responds_to_attribute.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @responds_to_attribute.value %>
</p>

<%= link_to 'Edit', edit_responds_to_attribute_path(@responds_to_attribute) %> |
<%= link_to 'Back', responds_to_attributes_path %>
