<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ac_creator_template.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ac_creator_template.title %>
</p>

<p>
  <strong>Bundle:</strong>
  <%= @ac_creator_template.bundle %>
</p>

<p>
  <strong>Preview:</strong>
  <%= @ac_creator_template.preview %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @ac_creator_template.thumbnail %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @ac_creator_template.folder %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @ac_creator_template.filename %>
</p>

<p>
  <strong>Document spec xml:</strong>
  <%= @ac_creator_template.document_spec_xml %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ac_creator_template.status %>
</p>

<p>
  <strong>Token:</strong>
  <%= @ac_creator_template.token %>
</p>

<%= link_to 'Edit', edit_ac_creator_template_path(@ac_creator_template) %> |
<%= link_to 'Back', ac_creator_templates_path %>
