<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ac_basis.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ac_basis.title %>
</p>

<%= link_to 'Edit', edit_ac_basis_path(@ac_basis) %> |
<%= link_to 'Back', ac_bases_path %>
