<p id="notice"><%= notice %></p>

<p>
  <strong>Setable:</strong>
  <%= @set_attribute.setable_id %>
</p>

<p>
  <strong>Setable type:</strong>
  <%= @set_attribute.setable_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @set_attribute.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @set_attribute.value %>
</p>

<%= link_to 'Edit', edit_set_attribute_path(@set_attribute) %> |
<%= link_to 'Back', set_attributes_path %>
