<%= form_for(@user_keyword) do |f| %>
  <% if @user_keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_keyword.errors.count, "error") %> prohibited this user_keyword from being saved:</h2>

      <ul>
      <% @user_keyword.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term %><br>
    <%= f.text_field :term %>
  </div>
  <div class="field">
    <%= f.label :categorizable_id %><br>
    <%= f.number_field :categorizable_id %>
  </div>
  <div class="field">
    <%= f.label :categorizable_type %><br>
    <%= f.text_field :categorizable_type %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_keyword_type %><br>
    <%= f.text_field :user_keyword_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
