<%= form_for(@kwikee_api_job_file) do |f| %>
  <% if @kwikee_api_job_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kwikee_api_job_file.errors.count, "error") %> prohibited this kwikee_api_job_file from being saved:</h2>

      <ul>
      <% @kwikee_api_job_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kwikee_api_job_id %><br>
    <%= f.number_field :kwikee_api_job_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
