<%= form_for(@shared_page) do |f| %>
  <% if @shared_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_page.errors.count, "error") %> prohibited this shared_page from being saved:</h2>

      <ul>
      <% @shared_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :token %><br>
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br>
    <%= f.date_select :expiration_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
