<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shared_page.user_id %>
</p>

<p>
  <strong>Token:</strong>
  <%= @shared_page.token %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @shared_page.expiration_date %>
</p>

<%= link_to 'Edit', edit_shared_page_path(@shared_page) %> |
<%= link_to 'Back', shared_pages_path %>
