<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @user.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @user.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @user.fax_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Last login:</strong>
  <%= @user.last_login %>
</p>

<p>
  <strong>License agreement flag:</strong>
  <%= @user.license_agreement_flag %>
</p>

<p>
  <strong>Update profile flag:</strong>
  <%= @user.update_profile_flag %>
</p>

<p>
  <strong>Ship first name:</strong>
  <%= @user.ship_first_name %>
</p>

<p>
  <strong>Ship last name:</strong>
  <%= @user.ship_last_name %>
</p>

<p>
  <strong>Ship address 1:</strong>
  <%= @user.ship_address_1 %>
</p>

<p>
  <strong>Ship address 2:</strong>
  <%= @user.ship_address_2 %>
</p>

<p>
  <strong>Ship city:</strong>
  <%= @user.ship_city %>
</p>

<p>
  <strong>Ship state:</strong>
  <%= @user.ship_state %>
</p>

<p>
  <strong>Ship zip code:</strong>
  <%= @user.ship_zip_code %>
</p>

<p>
  <strong>Ship phone number:</strong>
  <%= @user.ship_phone_number %>
</p>

<p>
  <strong>Ship fax number:</strong>
  <%= @user.ship_fax_number %>
</p>

<p>
  <strong>Ship email address:</strong>
  <%= @user.ship_email_address %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
