<div id="main-content" class="content">
  <div class="container">
    <div id="position-help">
      <div id="help-page-intro" style="float:left;margin-bottom:40px;">
        <div style="margin-top:30px;" id="social-media">
          <%= form_tag(update_password_path, { method: 'PATCH', id: 'update_password_form' }) do |f| %>
            <h3><strong><%= t '__reset_password__' %></strong></h3>
            <div class="row social-headers">
              <div class="col-xs-12 col-sm-12 col-lg-12">

                <% if @user.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <%= hidden_field_tag 'activation_string', @user.token %>
                <div class="form-group">
                  <span><%= t '__new_password__' %></span>
                  <%= password_field 'user', 'password', class: "form-control", placeholder: '' %>
                </div>
                <div class="form-group">
                  <span><%= t '__repeat_password__' %></span>
                  <%= password_field 'user', 'password_confirmation', class: "form-control", placeholder: '' %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><%= t '__cancel__' %></button>
                <button type="submit" class="btn btn-default pull-right"><%= t '__reset_password__' %></button>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
