<h1>Listing ac_documents</h1>

<table>
  <thead>
    <tr>
      <th>Bundle</th>
      <th>Document spec xml</th>
      <th>Pdf</th>
      <th>Preview</th>
      <th>Status</th>
      <th>Thumbnail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ac_documents.each do |ac_document| %>
      <tr>
        <td><%= ac_document.bundle %></td>
        <td><%= ac_document.document_spec_xml[0..40] %></td>
        <td><%= ac_document.pdf %></td>
        <td><%= ac_document.preview %></td>
        <td><%= ac_document.status %></td>
        <td><%= ac_document.thumbnail %></td>
        <td><%= link_to 'Show', ac_document %></td>
        <td><%= link_to 'Edit', edit_ac_document_path(ac_document) %></td>
        <td><%= link_to 'Destroy', ac_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ac document', new_ac_document_path %>
