<h1>Listing ac_creator_template_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Token</th>
      <th>Spec</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ac_creator_template_groups.each do |ac_creator_template_group| %>
      <tr>
        <td><%= ac_creator_template_group.name %></td>
        <td><%= ac_creator_template_group.title %></td>
        <td><%= ac_creator_template_group.token %></td>
        <td><%= ac_creator_template_group.spec %></td>
        <td><%= link_to 'Show', ac_creator_template_group %></td>
        <td><%= link_to 'Edit', edit_ac_creator_template_group_path(ac_creator_template_group) %></td>
        <td><%= link_to 'Destroy', ac_creator_template_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ac creator template group', new_ac_creator_template_group_path %>
