<h1>Listing kwikee_products</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>allergens</th>
      <th>brand_id</th>
      <th>brand_name</th>
      <th>case_count</th>
      <th>case_depth</th>
      <th>case_gtin</th>
      <th>case_height</th>
      <th>case_width</th>
      <th>category</th>
      <th>column_heading</th>
      <th>column_headings</th>
      <th>component_element</th>
      <th>component_elements</th>
      <th>consumable</th>
      <th>container_type</th>
      <th>custom_product_name</th>
      <th>department</th>
      <th>depth</th>
      <th>description</th>
      <th>diabetes_fc_values</th>
      <th>disease_claim</th>
      <th>display_depth</th>
      <th>display_height</th>
      <th>display_width</th>
      <th>division_name</th>
      <th>division_name_2</th>
      <th>extra_text_2</th>
      <th>extra_text_3</th>
      <th>extra_text_4</th>
      <th>fat_free</th>
      <th>flavor</th>
      <th>footer</th>
      <th>footers</th>
      <th>footnote</th>
      <th>footnotes</th>
      <th>format</th>
      <th>gluten_free</th>
      <th>gpc_attributes_assigned</th>
      <th>gpc_brick_id</th>
      <th>gpc_brick_name</th>
      <th>gpc_class_id</th>
      <th>gpc_class_name</th>
      <th>gpc_family_id</th>
      <th>gpc_family_name</th>
      <th>gpc_segment_id</th>
      <th>gpc_segment_name</th>
      <th>gtin</th>
      <th>guarantee_analysis</th>
      <th>guarantees</th>
      <th>header</th>
      <th>headers</th>
      <th>height</th>
      <th>image_indicator</th>
      <th>indications_copy</th>
      <th>ingredient_code</th>
      <th>ingredients</th>
      <th>instruction_copy_1</th>
      <th>instruction_copy_2</th>
      <th>instruction_copy_3</th>
      <th>instruction_copy_4</th>
      <th>instruction_copy_5</th>
      <th>interactions_copy</th>
      <th>is_variant_flag</th>
      <th>kosher</th>
      <th>kwikee_why_buy</th>
      <th>last_publish_date</th>
      <th>legal</th>
      <th>low_fat</th>
      <th>manufacturer_id</th>
      <th>manufacturer_name</th>
      <th>mfr_approved_date</th>
      <th>model</th>
      <th>multiple_shelf_facings</th>
      <th>name</th>
      <th>nutrient_claim_1</th>
      <th>nutrient_claim_2</th>
      <th>nutrient_claim_3</th>
      <th>nutrient_claim_4</th>
      <th>nutrient_claim_5</th>
      <th>nutrient_claim_6</th>
      <th>nutrient_claim_7</th>
      <th>nutrient_claim_8</th>
      <th>nutrition_footnotes_1</th>
      <th>nutrition_footnotes_2</th>
      <th>nutrition_head_1</th>
      <th>nutrition_head_2</th>
      <th>organic</th>
      <th>other_nutrient_statement</th>
      <th>override_manufacturer_tasks</th>
      <th>peg_down</th>
      <th>peg_right</th>
      <th>physical_weight_lb</th>
      <th>physical_weight_oz</th>
      <th>post_consumer</th>
      <th>primary_gtin</th>
      <th>primary_type</th>
      <th>primary_version</th>
      <th>product_count</th>
      <th>product_form</th>
      <th>product_id</th>
      <th>product_name</th>
      <th>product_size</th>
      <th>product_type</th>
      <th>profile_id</th>
      <th>promotion</th>
      <th>romance_copy_1</th>
      <th>romance_copy_2</th>
      <th>romance_copy_3</th>
      <th>romance_copy_4</th>
      <th>romance_copy_category</th>
      <th>section_id</th>
      <th>section_name</th>
      <th>segment</th>
      <th>segments</th>
      <th>sensible_solutions</th>
      <th>size_description_1</th>
      <th>size_description_2</th>
      <th>ss_claim_1</th>
      <th>ss_claim_2</th>
      <th>ss_claim_3</th>
      <th>ss_claim_4</th>
      <th>supplemental_facts</th>
      <th>tray_count</th>
      <th>tray_depth</th>
      <th>tray_height</th>
      <th>tray_width</th>
      <th>unit_container</th>
      <th>unit_size</th>
      <th>unit_uom</th>
      <th>uom</th>
      <th>upc_10</th>
      <th>upc_12</th>
      <th>value</th>
      <th>values</th>
      <th>variant_name_1</th>
      <th>variant_name_2</th>
      <th>variant_value_1</th>
      <th>variant_value_2</th>
      <th>vm_claim_1</th>
      <th>vm_claim_2</th>
      <th>vm_claim_3</th>
      <th>vm_claim_4</th>
      <th>vm_type_1</th>
      <th>vm_type_2</th>
      <th>vm_type_3</th>
      <th>vm_type_4</th>
      <th>warnings_copy</th>
      <th>why_buy_1</th>
      <th>why_buy_2</th>
      <th>why_buy_3</th>
      <th>why_buy_4</th>
      <th>why_buy_5</th>
      <th>why_buy_6</th>
      <th>why_buy_7</th>
      <th>width</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>token</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kwikee_products.each do |kwikee_product| %>
      <tr>
        <td><%= kwikee_product.id %></td>
        <td><%= kwikee_product.allergens %></td>
        <td><%= kwikee_product.brand_id %></td>
        <td><%= kwikee_product.brand_name %></td>
        <td><%= kwikee_product.case_count %></td>
        <td><%= kwikee_product.case_depth %></td>
        <td><%= kwikee_product.case_gtin %></td>
        <td><%= kwikee_product.case_height %></td>
        <td><%= kwikee_product.case_width %></td>
        <td><%= kwikee_product.category %></td>
        <td><%= kwikee_product.column_heading %></td>
        <td><%= kwikee_product.column_headings %></td>
        <td><%= kwikee_product.component_element %></td>
        <td><%= kwikee_product.component_elements %></td>
        <td><%= kwikee_product.consumable %></td>
        <td><%= kwikee_product.container_type %></td>
        <td><%= kwikee_product.custom_product_name %></td>
        <td><%= kwikee_product.department %></td>
        <td><%= kwikee_product.depth %></td>
        <td><%= kwikee_product.description %></td>
        <td><%= kwikee_product.diabetes_fc_values %></td>
        <td><%= kwikee_product.disease_claim %></td>
        <td><%= kwikee_product.display_depth %></td>
        <td><%= kwikee_product.display_height %></td>
        <td><%= kwikee_product.display_width %></td>
        <td><%= kwikee_product.division_name %></td>
        <td><%= kwikee_product.division_name_2 %></td>
        <td><%= kwikee_product.extra_text_2 %></td>
        <td><%= kwikee_product.extra_text_3 %></td>
        <td><%= kwikee_product.extra_text_4 %></td>
        <td><%= kwikee_product.fat_free %></td>
        <td><%= kwikee_product.flavor %></td>
        <td><%= kwikee_product.footer %></td>
        <td><%= kwikee_product.footers %></td>
        <td><%= kwikee_product.footnote %></td>
        <td><%= kwikee_product.footnotes %></td>
        <td><%= kwikee_product.format %></td>
        <td><%= kwikee_product.gluten_free %></td>
        <td><%= kwikee_product.gpc_attributes_assigned %></td>
        <td><%= kwikee_product.gpc_brick_id %></td>
        <td><%= kwikee_product.gpc_brick_name %></td>
        <td><%= kwikee_product.gpc_class_id %></td>
        <td><%= kwikee_product.gpc_class_name %></td>
        <td><%= kwikee_product.gpc_family_id %></td>
        <td><%= kwikee_product.gpc_family_name %></td>
        <td><%= kwikee_product.gpc_segment_id %></td>
        <td><%= kwikee_product.gpc_segment_name %></td>
        <td><%= kwikee_product.gtin %></td>
        <td><%= kwikee_product.guarantee_analysis %></td>
        <td><%= kwikee_product.guarantees %></td>
        <td><%= kwikee_product.header %></td>
        <td><%= kwikee_product.headers %></td>
        <td><%= kwikee_product.height %></td>
        <td><%= kwikee_product.image_indicator %></td>
        <td><%= kwikee_product.indications_copy %></td>
        <td><%= kwikee_product.ingredient_code %></td>
        <td><%= kwikee_product.ingredients %></td>
        <td><%= kwikee_product.instruction_copy_1 %></td>
        <td><%= kwikee_product.instruction_copy_2 %></td>
        <td><%= kwikee_product.instruction_copy_3 %></td>
        <td><%= kwikee_product.instruction_copy_4 %></td>
        <td><%= kwikee_product.instruction_copy_5 %></td>
        <td><%= kwikee_product.interactions_copy %></td>
        <td><%= kwikee_product.is_variant_flag %></td>
        <td><%= kwikee_product.kosher %></td>
        <td><%= kwikee_product.kwikee_why_buy %></td>
        <td><%= kwikee_product.last_publish_date %></td>
        <td><%= kwikee_product.legal %></td>
        <td><%= kwikee_product.low_fat %></td>
        <td><%= kwikee_product.manufacturer_id %></td>
        <td><%= kwikee_product.manufacturer_name %></td>
        <td><%= kwikee_product.mfr_approved_date %></td>
        <td><%= kwikee_product.model %></td>
        <td><%= kwikee_product.multiple_shelf_facings %></td>
        <td><%= kwikee_product.name %></td>
        <td><%= kwikee_product.nutrient_claim_1 %></td>
        <td><%= kwikee_product.nutrient_claim_2 %></td>
        <td><%= kwikee_product.nutrient_claim_3 %></td>
        <td><%= kwikee_product.nutrient_claim_4 %></td>
        <td><%= kwikee_product.nutrient_claim_5 %></td>
        <td><%= kwikee_product.nutrient_claim_6 %></td>
        <td><%= kwikee_product.nutrient_claim_7 %></td>
        <td><%= kwikee_product.nutrient_claim_8 %></td>
        <td><%= kwikee_product.nutrition_footnotes_1 %></td>
        <td><%= kwikee_product.nutrition_footnotes_2 %></td>
        <td><%= kwikee_product.nutrition_head_1 %></td>
        <td><%= kwikee_product.nutrition_head_2 %></td>
        <td><%= kwikee_product.organic %></td>
        <td><%= kwikee_product.other_nutrient_statement %></td>
        <td><%= kwikee_product.override_manufacturer_tasks %></td>
        <td><%= kwikee_product.peg_down %></td>
        <td><%= kwikee_product.peg_right %></td>
        <td><%= kwikee_product.physical_weight_lb %></td>
        <td><%= kwikee_product.physical_weight_oz %></td>
        <td><%= kwikee_product.post_consumer %></td>
        <td><%= kwikee_product.primary_gtin %></td>
        <td><%= kwikee_product.primary_type %></td>
        <td><%= kwikee_product.primary_version %></td>
        <td><%= kwikee_product.product_count %></td>
        <td><%= kwikee_product.product_form %></td>
        <td><%= kwikee_product.product_id %></td>
        <td><%= kwikee_product.product_name %></td>
        <td><%= kwikee_product.product_size %></td>
        <td><%= kwikee_product.product_type %></td>
        <td><%= kwikee_product.profile_id %></td>
        <td><%= kwikee_product.promotion %></td>
        <td><%= kwikee_product.romance_copy_1 %></td>
        <td><%= kwikee_product.romance_copy_2 %></td>
        <td><%= kwikee_product.romance_copy_3 %></td>
        <td><%= kwikee_product.romance_copy_4 %></td>
        <td><%= kwikee_product.romance_copy_category %></td>
        <td><%= kwikee_product.section_id %></td>
        <td><%= kwikee_product.section_name %></td>
        <td><%= kwikee_product.segment %></td>
        <td><%= kwikee_product.segments %></td>
        <td><%= kwikee_product.sensible_solutions %></td>
        <td><%= kwikee_product.size_description_1 %></td>
        <td><%= kwikee_product.size_description_2 %></td>
        <td><%= kwikee_product.ss_claim_1 %></td>
        <td><%= kwikee_product.ss_claim_2 %></td>
        <td><%= kwikee_product.ss_claim_3 %></td>
        <td><%= kwikee_product.ss_claim_4 %></td>
        <td><%= kwikee_product.supplemental_facts %></td>
        <td><%= kwikee_product.tray_count %></td>
        <td><%= kwikee_product.tray_depth %></td>
        <td><%= kwikee_product.tray_height %></td>
        <td><%= kwikee_product.tray_width %></td>
        <td><%= kwikee_product.unit_container %></td>
        <td><%= kwikee_product.unit_size %></td>
        <td><%= kwikee_product.unit_uom %></td>
        <td><%= kwikee_product.uom %></td>
        <td><%= kwikee_product.upc_10 %></td>
        <td><%= kwikee_product.upc_12 %></td>
        <td><%= kwikee_product.value %></td>
        <td><%= kwikee_product.values %></td>
        <td><%= kwikee_product.variant_name_1 %></td>
        <td><%= kwikee_product.variant_name_2 %></td>
        <td><%= kwikee_product.variant_value_1 %></td>
        <td><%= kwikee_product.variant_value_2 %></td>
        <td><%= kwikee_product.vm_claim_1 %></td>
        <td><%= kwikee_product.vm_claim_2 %></td>
        <td><%= kwikee_product.vm_claim_3 %></td>
        <td><%= kwikee_product.vm_claim_4 %></td>
        <td><%= kwikee_product.vm_type_1 %></td>
        <td><%= kwikee_product.vm_type_2 %></td>
        <td><%= kwikee_product.vm_type_3 %></td>
        <td><%= kwikee_product.vm_type_4 %></td>
        <td><%= kwikee_product.warnings_copy %></td>
        <td><%= kwikee_product.why_buy_1 %></td>
        <td><%= kwikee_product.why_buy_2 %></td>
        <td><%= kwikee_product.why_buy_3 %></td>
        <td><%= kwikee_product.why_buy_4 %></td>
        <td><%= kwikee_product.why_buy_5 %></td>
        <td><%= kwikee_product.why_buy_6 %></td>
        <td><%= kwikee_product.why_buy_7 %></td>
        <td><%= kwikee_product.width %></td>
        <td><%= kwikee_product.created_at %></td>
        <td><%= kwikee_product.updated_at %></td>
        <td><%= kwikee_product.token %></td>
        <td><%= link_to 'Show', kwikee_product %></td>
        <td><%= link_to 'Edit', edit_kwikee_product_path(kwikee_product) %></td>
        <td><%= link_to 'Destroy', kwikee_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kwikee product', new_kwikee_product_path %>
