<p id="notice"><%= notice %></p>

<p>
  <strong>Allergens:</strong>
  <%= @kwikee_product.allergens %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @kwikee_product.brand_id %>
</p>

<p>
  <strong>Brand name:</strong>
  <%= @kwikee_product.brand_name %>
</p>

<p>
  <strong>Cal from sat tran fat:</strong>
  <%= @kwikee_product.cal_from_sat_tran_fat %>
</p>

<p>
  <strong>Calories per serving:</strong>
  <%= @kwikee_product.calories_per_serving %>
</p>

<p>
  <strong>Carbo per serving:</strong>
  <%= @kwikee_product.carbo_per_serving %>
</p>

<p>
  <strong>Carbo uom:</strong>
  <%= @kwikee_product.carbo_uom %>
</p>

<p>
  <strong>Case count:</strong>
  <%= @kwikee_product.case_count %>
</p>

<p>
  <strong>Case depth:</strong>
  <%= @kwikee_product.case_depth %>
</p>

<p>
  <strong>Case gtin:</strong>
  <%= @kwikee_product.case_gtin %>
</p>

<p>
  <strong>Case height:</strong>
  <%= @kwikee_product.case_height %>
</p>

<p>
  <strong>Case width:</strong>
  <%= @kwikee_product.case_width %>
</p>

<p>
  <strong>Category:</strong>
  <%= @kwikee_product.category %>
</p>

<p>
  <strong>Cholesterol per serving:</strong>
  <%= @kwikee_product.cholesterol_per_serving %>
</p>

<p>
  <strong>Cholesterol uom:</strong>
  <%= @kwikee_product.cholesterol_uom %>
</p>

<p>
  <strong>Column heading:</strong>
  <%= @kwikee_product.column_heading %>
</p>

<p>
  <strong>Column headings:</strong>
  <%= @kwikee_product.column_headings %>
</p>

<p>
  <strong>Component element:</strong>
  <%= @kwikee_product.component_element %>
</p>

<p>
  <strong>Component elements:</strong>
  <%= @kwikee_product.component_elements %>
</p>

<p>
  <strong>Consumable:</strong>
  <%= @kwikee_product.consumable %>
</p>

<p>
  <strong>Container type:</strong>
  <%= @kwikee_product.container_type %>
</p>

<p>
  <strong>Custom product name:</strong>
  <%= @kwikee_product.custom_product_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @kwikee_product.department %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @kwikee_product.depth %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kwikee_product.description %>
</p>

<p>
  <strong>Diabetes fc values:</strong>
  <%= @kwikee_product.diabetes_fc_values %>
</p>

<p>
  <strong>Disease claim:</strong>
  <%= @kwikee_product.disease_claim %>
</p>

<p>
  <strong>Display depth:</strong>
  <%= @kwikee_product.display_depth %>
</p>

<p>
  <strong>Display height:</strong>
  <%= @kwikee_product.display_height %>
</p>

<p>
  <strong>Display width:</strong>
  <%= @kwikee_product.display_width %>
</p>

<p>
  <strong>Division name:</strong>
  <%= @kwikee_product.division_name %>
</p>

<p>
  <strong>Division name 2:</strong>
  <%= @kwikee_product.division_name_2 %>
</p>

<p>
  <strong>Dvp biotin:</strong>
  <%= @kwikee_product.dvp_biotin %>
</p>

<p>
  <strong>Dvp calcium:</strong>
  <%= @kwikee_product.dvp_calcium %>
</p>

<p>
  <strong>Dvp carbo:</strong>
  <%= @kwikee_product.dvp_carbo %>
</p>

<p>
  <strong>Dvp chloride:</strong>
  <%= @kwikee_product.dvp_chloride %>
</p>

<p>
  <strong>Dvp cholesterol:</strong>
  <%= @kwikee_product.dvp_cholesterol %>
</p>

<p>
  <strong>Dvp chromium:</strong>
  <%= @kwikee_product.dvp_chromium %>
</p>

<p>
  <strong>Dvp copper:</strong>
  <%= @kwikee_product.dvp_copper %>
</p>

<p>
  <strong>Dvp fiber:</strong>
  <%= @kwikee_product.dvp_fiber %>
</p>

<p>
  <strong>Dvp folic acid:</strong>
  <%= @kwikee_product.dvp_folic_acid %>
</p>

<p>
  <strong>Dvp iodide:</strong>
  <%= @kwikee_product.dvp_iodide %>
</p>

<p>
  <strong>Dvp iodine:</strong>
  <%= @kwikee_product.dvp_iodine %>
</p>

<p>
  <strong>Dvp iron:</strong>
  <%= @kwikee_product.dvp_iron %>
</p>

<p>
  <strong>Dvp magnesium:</strong>
  <%= @kwikee_product.dvp_magnesium %>
</p>

<p>
  <strong>Dvp manganese:</strong>
  <%= @kwikee_product.dvp_manganese %>
</p>

<p>
  <strong>Dvp molybdenum:</strong>
  <%= @kwikee_product.dvp_molybdenum %>
</p>

<p>
  <strong>Dvp niacin:</strong>
  <%= @kwikee_product.dvp_niacin %>
</p>

<p>
  <strong>Dvp panthothenate:</strong>
  <%= @kwikee_product.dvp_panthothenate %>
</p>

<p>
  <strong>Dvp phosphorus:</strong>
  <%= @kwikee_product.dvp_phosphorus %>
</p>

<p>
  <strong>Dvp potassium:</strong>
  <%= @kwikee_product.dvp_potassium %>
</p>

<p>
  <strong>Dvp protein:</strong>
  <%= @kwikee_product.dvp_protein %>
</p>

<p>
  <strong>Dvp riboflavin:</strong>
  <%= @kwikee_product.dvp_riboflavin %>
</p>

<p>
  <strong>Dvp sat tran fat:</strong>
  <%= @kwikee_product.dvp_sat_tran_fat %>
</p>

<p>
  <strong>Dvp saturated fat:</strong>
  <%= @kwikee_product.dvp_saturated_fat %>
</p>

<p>
  <strong>Dvp selenium:</strong>
  <%= @kwikee_product.dvp_selenium %>
</p>

<p>
  <strong>Dvp sodium:</strong>
  <%= @kwikee_product.dvp_sodium %>
</p>

<p>
  <strong>Dvp sugar:</strong>
  <%= @kwikee_product.dvp_sugar %>
</p>

<p>
  <strong>Dvp thiamin:</strong>
  <%= @kwikee_product.dvp_thiamin %>
</p>

<p>
  <strong>Dvp total fat:</strong>
  <%= @kwikee_product.dvp_total_fat %>
</p>

<p>
  <strong>Dvp vitamin a:</strong>
  <%= @kwikee_product.dvp_vitamin_a %>
</p>

<p>
  <strong>Dvp vitamin b12:</strong>
  <%= @kwikee_product.dvp_vitamin_b12 %>
</p>

<p>
  <strong>Dvp vitamin b6:</strong>
  <%= @kwikee_product.dvp_vitamin_b6 %>
</p>

<p>
  <strong>Dvp vitamin c:</strong>
  <%= @kwikee_product.dvp_vitamin_c %>
</p>

<p>
  <strong>Dvp vitamin d:</strong>
  <%= @kwikee_product.dvp_vitamin_d %>
</p>

<p>
  <strong>Dvp vitamin e:</strong>
  <%= @kwikee_product.dvp_vitamin_e %>
</p>

<p>
  <strong>Dvp vitamin k:</strong>
  <%= @kwikee_product.dvp_vitamin_k %>
</p>

<p>
  <strong>Dvp zinc:</strong>
  <%= @kwikee_product.dvp_zinc %>
</p>

<p>
  <strong>Extra text 2:</strong>
  <%= @kwikee_product.extra_text_2 %>
</p>

<p>
  <strong>Extra text 3:</strong>
  <%= @kwikee_product.extra_text_3 %>
</p>

<p>
  <strong>Extra text 4:</strong>
  <%= @kwikee_product.extra_text_4 %>
</p>

<p>
  <strong>Fat calories per serving:</strong>
  <%= @kwikee_product.fat_calories_per_serving %>
</p>

<p>
  <strong>Fat free:</strong>
  <%= @kwikee_product.fat_free %>
</p>

<p>
  <strong>Fiber per serving:</strong>
  <%= @kwikee_product.fiber_per_serving %>
</p>

<p>
  <strong>Fiber uom:</strong>
  <%= @kwikee_product.fiber_uom %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @kwikee_product.flavor %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @kwikee_product.footer %>
</p>

<p>
  <strong>Footers:</strong>
  <%= @kwikee_product.footers %>
</p>

<p>
  <strong>Footnote:</strong>
  <%= @kwikee_product.footnote %>
</p>

<p>
  <strong>Footnotes:</strong>
  <%= @kwikee_product.footnotes %>
</p>

<p>
  <strong>Format:</strong>
  <%= @kwikee_product.format %>
</p>

<p>
  <strong>Gluten free:</strong>
  <%= @kwikee_product.gluten_free %>
</p>

<p>
  <strong>Gpc attributes assigned:</strong>
  <%= @kwikee_product.gpc_attributes_assigned %>
</p>

<p>
  <strong>Gpc brick:</strong>
  <%= @kwikee_product.gpc_brick_id %>
</p>

<p>
  <strong>Gpc brick name:</strong>
  <%= @kwikee_product.gpc_brick_name %>
</p>

<p>
  <strong>Gpc class:</strong>
  <%= @kwikee_product.gpc_class_id %>
</p>

<p>
  <strong>Gpc class name:</strong>
  <%= @kwikee_product.gpc_class_name %>
</p>

<p>
  <strong>Gpc family:</strong>
  <%= @kwikee_product.gpc_family_id %>
</p>

<p>
  <strong>Gpc family name:</strong>
  <%= @kwikee_product.gpc_family_name %>
</p>

<p>
  <strong>Gpc segment:</strong>
  <%= @kwikee_product.gpc_segment_id %>
</p>

<p>
  <strong>Gpc segment name:</strong>
  <%= @kwikee_product.gpc_segment_name %>
</p>

<p>
  <strong>Gtin:</strong>
  <%= @kwikee_product.gtin %>
</p>

<p>
  <strong>Guarantee analysis:</strong>
  <%= @kwikee_product.guarantee_analysis %>
</p>

<p>
  <strong>Guarantees:</strong>
  <%= @kwikee_product.guarantees %>
</p>

<p>
  <strong>Header:</strong>
  <%= @kwikee_product.header %>
</p>

<p>
  <strong>Headers:</strong>
  <%= @kwikee_product.headers %>
</p>

<p>
  <strong>Height:</strong>
  <%= @kwikee_product.height %>
</p>

<p>
  <strong>Image indicator:</strong>
  <%= @kwikee_product.image_indicator %>
</p>

<p>
  <strong>Indications copy:</strong>
  <%= @kwikee_product.indications_copy %>
</p>

<p>
  <strong>Ingredient code:</strong>
  <%= @kwikee_product.ingredient_code %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @kwikee_product.ingredients %>
</p>

<p>
  <strong>Insol fiber per serving:</strong>
  <%= @kwikee_product.insol_fiber_per_serving %>
</p>

<p>
  <strong>Insol fiber per serving uom:</strong>
  <%= @kwikee_product.insol_fiber_per_serving_uom %>
</p>

<p>
  <strong>Instruction copy 1:</strong>
  <%= @kwikee_product.instruction_copy_1 %>
</p>

<p>
  <strong>Instruction copy 2:</strong>
  <%= @kwikee_product.instruction_copy_2 %>
</p>

<p>
  <strong>Instruction copy 3:</strong>
  <%= @kwikee_product.instruction_copy_3 %>
</p>

<p>
  <strong>Instruction copy 4:</strong>
  <%= @kwikee_product.instruction_copy_4 %>
</p>

<p>
  <strong>Instruction copy 5:</strong>
  <%= @kwikee_product.instruction_copy_5 %>
</p>

<p>
  <strong>Interactions copy:</strong>
  <%= @kwikee_product.interactions_copy %>
</p>

<p>
  <strong>Is variant flag:</strong>
  <%= @kwikee_product.is_variant_flag %>
</p>

<p>
  <strong>Kosher:</strong>
  <%= @kwikee_product.kosher %>
</p>

<p>
  <strong>Kwikee why buy:</strong>
  <%= @kwikee_product.kwikee_why_buy %>
</p>

<p>
  <strong>Last publish date:</strong>
  <%= @kwikee_product.last_publish_date %>
</p>

<p>
  <strong>Legal:</strong>
  <%= @kwikee_product.legal %>
</p>

<p>
  <strong>Low fat:</strong>
  <%= @kwikee_product.low_fat %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @kwikee_product.manufacturer_id %>
</p>

<p>
  <strong>Manufacturer name:</strong>
  <%= @kwikee_product.manufacturer_name %>
</p>

<p>
  <strong>Mfr approved date:</strong>
  <%= @kwikee_product.mfr_approved_date %>
</p>

<p>
  <strong>Model:</strong>
  <%= @kwikee_product.model %>
</p>

<p>
  <strong>Mono unsat fat:</strong>
  <%= @kwikee_product.mono_unsat_fat %>
</p>

<p>
  <strong>Mono unsat fat uom:</strong>
  <%= @kwikee_product.mono_unsat_fat_uom %>
</p>

<p>
  <strong>Multiple shelf facings:</strong>
  <%= @kwikee_product.multiple_shelf_facings %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kwikee_product.name %>
</p>

<p>
  <strong>Nutrient claim 1:</strong>
  <%= @kwikee_product.nutrient_claim_1 %>
</p>

<p>
  <strong>Nutrient claim 2:</strong>
  <%= @kwikee_product.nutrient_claim_2 %>
</p>

<p>
  <strong>Nutrient claim 3:</strong>
  <%= @kwikee_product.nutrient_claim_3 %>
</p>

<p>
  <strong>Nutrient claim 4:</strong>
  <%= @kwikee_product.nutrient_claim_4 %>
</p>

<p>
  <strong>Nutrient claim 5:</strong>
  <%= @kwikee_product.nutrient_claim_5 %>
</p>

<p>
  <strong>Nutrient claim 6:</strong>
  <%= @kwikee_product.nutrient_claim_6 %>
</p>

<p>
  <strong>Nutrient claim 7:</strong>
  <%= @kwikee_product.nutrient_claim_7 %>
</p>

<p>
  <strong>Nutrient claim 8:</strong>
  <%= @kwikee_product.nutrient_claim_8 %>
</p>

<p>
  <strong>Nutrient disclaimer 1:</strong>
  <%= @kwikee_product.nutrient_disclaimer_1 %>
</p>

<p>
  <strong>Nutrient disclaimer 2:</strong>
  <%= @kwikee_product.nutrient_disclaimer_2 %>
</p>

<p>
  <strong>Nutrient disclaimer 3:</strong>
  <%= @kwikee_product.nutrient_disclaimer_3 %>
</p>

<p>
  <strong>Nutrient disclaimer 4:</strong>
  <%= @kwikee_product.nutrient_disclaimer_4 %>
</p>

<p>
  <strong>Nutrition footnotes 1:</strong>
  <%= @kwikee_product.nutrition_footnotes_1 %>
</p>

<p>
  <strong>Nutrition footnotes 2:</strong>
  <%= @kwikee_product.nutrition_footnotes_2 %>
</p>

<p>
  <strong>Nutrition head 1:</strong>
  <%= @kwikee_product.nutrition_head_1 %>
</p>

<p>
  <strong>Nutrition head 2:</strong>
  <%= @kwikee_product.nutrition_head_2 %>
</p>

<p>
  <strong>Nutrition label:</strong>
  <%= @kwikee_product.nutrition_label %>
</p>

<p>
  <strong>Omega 3 polyunsat:</strong>
  <%= @kwikee_product.omega_3_polyunsat %>
</p>

<p>
  <strong>Omega 3 polyunsat uom:</strong>
  <%= @kwikee_product.omega_3_polyunsat_uom %>
</p>

<p>
  <strong>Omega 6 polyunsat:</strong>
  <%= @kwikee_product.omega_6_polyunsat %>
</p>

<p>
  <strong>Omega 6 polyunsat uom:</strong>
  <%= @kwikee_product.omega_6_polyunsat_uom %>
</p>

<p>
  <strong>Omega 9 polyunsat:</strong>
  <%= @kwikee_product.omega_9_polyunsat %>
</p>

<p>
  <strong>Omega 9 polyunsat uom:</strong>
  <%= @kwikee_product.omega_9_polyunsat_uom %>
</p>

<p>
  <strong>Organic:</strong>
  <%= @kwikee_product.organic %>
</p>

<p>
  <strong>Other nutrient statement:</strong>
  <%= @kwikee_product.other_nutrient_statement %>
</p>

<p>
  <strong>Override manufacturer tasks:</strong>
  <%= @kwikee_product.override_manufacturer_tasks %>
</p>

<p>
  <strong>Peg down:</strong>
  <%= @kwikee_product.peg_down %>
</p>

<p>
  <strong>Peg right:</strong>
  <%= @kwikee_product.peg_right %>
</p>

<p>
  <strong>Physical weight lb:</strong>
  <%= @kwikee_product.physical_weight_lb %>
</p>

<p>
  <strong>Physical weight oz:</strong>
  <%= @kwikee_product.physical_weight_oz %>
</p>

<p>
  <strong>Poly unsat fat:</strong>
  <%= @kwikee_product.poly_unsat_fat %>
</p>

<p>
  <strong>Poly unsat fat uom:</strong>
  <%= @kwikee_product.poly_unsat_fat_uom %>
</p>

<p>
  <strong>Post consumer:</strong>
  <%= @kwikee_product.post_consumer %>
</p>

<p>
  <strong>Potassium per serving:</strong>
  <%= @kwikee_product.potassium_per_serving %>
</p>

<p>
  <strong>Potassium uom:</strong>
  <%= @kwikee_product.potassium_uom %>
</p>

<p>
  <strong>Primary gtin:</strong>
  <%= @kwikee_product.primary_gtin %>
</p>

<p>
  <strong>Primary type:</strong>
  <%= @kwikee_product.primary_type %>
</p>

<p>
  <strong>Primary version:</strong>
  <%= @kwikee_product.primary_version %>
</p>

<p>
  <strong>Product count:</strong>
  <%= @kwikee_product.product_count %>
</p>

<p>
  <strong>Product form:</strong>
  <%= @kwikee_product.product_form %>
</p>

<p>
  <strong>Product:</strong>
  <%= @kwikee_product.product_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @kwikee_product.product_name %>
</p>

<p>
  <strong>Product size:</strong>
  <%= @kwikee_product.product_size %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @kwikee_product.product_type %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @kwikee_product.profile_id %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @kwikee_product.promotion %>
</p>

<p>
  <strong>Protein per serving:</strong>
  <%= @kwikee_product.protein_per_serving %>
</p>

<p>
  <strong>Protein uom:</strong>
  <%= @kwikee_product.protein_uom %>
</p>

<p>
  <strong>Romance copy 1:</strong>
  <%= @kwikee_product.romance_copy_1 %>
</p>

<p>
  <strong>Romance copy 2:</strong>
  <%= @kwikee_product.romance_copy_2 %>
</p>

<p>
  <strong>Romance copy 3:</strong>
  <%= @kwikee_product.romance_copy_3 %>
</p>

<p>
  <strong>Romance copy 4:</strong>
  <%= @kwikee_product.romance_copy_4 %>
</p>

<p>
  <strong>Romance copy category:</strong>
  <%= @kwikee_product.romance_copy_category %>
</p>

<p>
  <strong>Sat fat per serving:</strong>
  <%= @kwikee_product.sat_fat_per_serving %>
</p>

<p>
  <strong>Sat fat uom:</strong>
  <%= @kwikee_product.sat_fat_uom %>
</p>

<p>
  <strong>Section:</strong>
  <%= @kwikee_product.section_id %>
</p>

<p>
  <strong>Section name:</strong>
  <%= @kwikee_product.section_name %>
</p>

<p>
  <strong>Segment:</strong>
  <%= @kwikee_product.segment %>
</p>

<p>
  <strong>Segments:</strong>
  <%= @kwikee_product.segments %>
</p>

<p>
  <strong>Sensible solutions:</strong>
  <%= @kwikee_product.sensible_solutions %>
</p>

<p>
  <strong>Serving size:</strong>
  <%= @kwikee_product.serving_size %>
</p>

<p>
  <strong>Serving size uom:</strong>
  <%= @kwikee_product.serving_size_uom %>
</p>

<p>
  <strong>Servings per container:</strong>
  <%= @kwikee_product.servings_per_container %>
</p>

<p>
  <strong>Size description 1:</strong>
  <%= @kwikee_product.size_description_1 %>
</p>

<p>
  <strong>Size description 2:</strong>
  <%= @kwikee_product.size_description_2 %>
</p>

<p>
  <strong>Sodium per serving:</strong>
  <%= @kwikee_product.sodium_per_serving %>
</p>

<p>
  <strong>Sodium uom:</strong>
  <%= @kwikee_product.sodium_uom %>
</p>

<p>
  <strong>Sol fiber per serving:</strong>
  <%= @kwikee_product.sol_fiber_per_serving %>
</p>

<p>
  <strong>Sol fiber per serving uom:</strong>
  <%= @kwikee_product.sol_fiber_per_serving_uom %>
</p>

<p>
  <strong>Ss claim 1:</strong>
  <%= @kwikee_product.ss_claim_1 %>
</p>

<p>
  <strong>Ss claim 2:</strong>
  <%= @kwikee_product.ss_claim_2 %>
</p>

<p>
  <strong>Ss claim 3:</strong>
  <%= @kwikee_product.ss_claim_3 %>
</p>

<p>
  <strong>Ss claim 4:</strong>
  <%= @kwikee_product.ss_claim_4 %>
</p>

<p>
  <strong>Starch per serving:</strong>
  <%= @kwikee_product.starch_per_serving %>
</p>

<p>
  <strong>Starch per serving uom:</strong>
  <%= @kwikee_product.starch_per_serving_uom %>
</p>

<p>
  <strong>Sub number:</strong>
  <%= @kwikee_product.sub_number %>
</p>

<p>
  <strong>Sugar per serving:</strong>
  <%= @kwikee_product.sugar_per_serving %>
</p>

<p>
  <strong>Sugar uom:</strong>
  <%= @kwikee_product.sugar_uom %>
</p>

<p>
  <strong>Suger alc per serving:</strong>
  <%= @kwikee_product.suger_alc_per_serving %>
</p>

<p>
  <strong>Suger alc per serving uom:</strong>
  <%= @kwikee_product.suger_alc_per_serving_uom %>
</p>

<p>
  <strong>Supplemental facts:</strong>
  <%= @kwikee_product.supplemental_facts %>
</p>

<p>
  <strong>Total fat per serving:</strong>
  <%= @kwikee_product.total_fat_per_serving %>
</p>

<p>
  <strong>Total fat uom:</strong>
  <%= @kwikee_product.total_fat_uom %>
</p>

<p>
  <strong>Trans fat per serving:</strong>
  <%= @kwikee_product.trans_fat_per_serving %>
</p>

<p>
  <strong>Trans fat uom:</strong>
  <%= @kwikee_product.trans_fat_uom %>
</p>

<p>
  <strong>Tray count:</strong>
  <%= @kwikee_product.tray_count %>
</p>

<p>
  <strong>Tray depth:</strong>
  <%= @kwikee_product.tray_depth %>
</p>

<p>
  <strong>Tray height:</strong>
  <%= @kwikee_product.tray_height %>
</p>

<p>
  <strong>Tray width:</strong>
  <%= @kwikee_product.tray_width %>
</p>

<p>
  <strong>Unit container:</strong>
  <%= @kwikee_product.unit_container %>
</p>

<p>
  <strong>Unit size:</strong>
  <%= @kwikee_product.unit_size %>
</p>

<p>
  <strong>Unit uom:</strong>
  <%= @kwikee_product.unit_uom %>
</p>

<p>
  <strong>Uom:</strong>
  <%= @kwikee_product.uom %>
</p>

<p>
  <strong>Upc 10:</strong>
  <%= @kwikee_product.upc_10 %>
</p>

<p>
  <strong>Upc 12:</strong>
  <%= @kwikee_product.upc_12 %>
</p>

<p>
  <strong>Value:</strong>
  <%= @kwikee_product.value %>
</p>

<p>
  <strong>Values:</strong>
  <%= @kwikee_product.values %>
</p>

<p>
  <strong>Variant name 1:</strong>
  <%= @kwikee_product.variant_name_1 %>
</p>

<p>
  <strong>Variant name 2:</strong>
  <%= @kwikee_product.variant_name_2 %>
</p>

<p>
  <strong>Variant value 1:</strong>
  <%= @kwikee_product.variant_value_1 %>
</p>

<p>
  <strong>Variant value 2:</strong>
  <%= @kwikee_product.variant_value_2 %>
</p>

<p>
  <strong>Vm claim 1:</strong>
  <%= @kwikee_product.vm_claim_1 %>
</p>

<p>
  <strong>Vm claim 2:</strong>
  <%= @kwikee_product.vm_claim_2 %>
</p>

<p>
  <strong>Vm claim 3:</strong>
  <%= @kwikee_product.vm_claim_3 %>
</p>

<p>
  <strong>Vm claim 4:</strong>
  <%= @kwikee_product.vm_claim_4 %>
</p>

<p>
  <strong>Vm type 1:</strong>
  <%= @kwikee_product.vm_type_1 %>
</p>

<p>
  <strong>Vm type 2:</strong>
  <%= @kwikee_product.vm_type_2 %>
</p>

<p>
  <strong>Vm type 3:</strong>
  <%= @kwikee_product.vm_type_3 %>
</p>

<p>
  <strong>Vm type 4:</strong>
  <%= @kwikee_product.vm_type_4 %>
</p>

<p>
  <strong>Warnings copy:</strong>
  <%= @kwikee_product.warnings_copy %>
</p>

<p>
  <strong>Why buy copy:</strong>
  <%= @kwikee_product.why_buy_copy %>
</p>

<p>
  <strong>Width:</strong>
  <%= @kwikee_product.width %>
</p>

<%= link_to 'Edit', edit_kwikee_product_path(@kwikee_product) %> |
<%= link_to 'Back', kwikee_products_path %>
