<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @role.language.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @role.title %>
</p>

<p>
  <strong>Default flag:</strong>
  <%= @role.default_flag %>
</p>

<p>
  <strong>Role type:</strong>
  <%= @role.role_type %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
