<h1>Listing Dynamic Forms</h1>

<table border='1' cellpadding="20">
  <thead>
    <tr>
      <th>
        Name/Title/Description/Recipient/Expired/Token
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dynamic_forms.each do |dynamic_form| %>
      <tr>
        <td>
          <strong>Language: </strong><%= dynamic_form.language.present? ? dynamic_form.language.title : 'No Language Selected'  %><br/>
          <strong>Name: </strong><%= dynamic_form.name %><br/>
          <strong>Title: </strong><%= dynamic_form.title %><br/>
          <strong>Description: </strong><%= truncate(dynamic_form.description, length: 200, escape: false).to_s.html_safe %><br/>
          <strong>Recipient: </strong><%= dynamic_form.recipient %><br/>
          <strong>Expired: </strong><%= dynamic_form.expired %><br/>
          <strong>Published: </strong><%= dynamic_form.published %><br/>
          <strong>Token: </strong><%= dynamic_form.token %>
        </td>

        <td>
          <%= link_to 'display_form', display_form_path(dynamic_form.token) %><br/>
          <%= link_to 'form_submissions', form_submissions_path(dynamic_form.token) %><br/>
          <%= link_to 'Edit', edit_dynamic_form_path(dynamic_form) %><br/>
        </td>
        <td style="text-align:center">
          <%= link_to 'Show', dynamic_form %><br/><br/>
          <%= link_to 'Destroy', dynamic_form, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
        </td>
      </tr>
      <tr>
        <td colspan='3' style="margin-bottom:15px;">
          <% dynamic_form.dynamic_form_input_groups.each do |dynamic_form_input_group| %>
            <div class='col-lg-12 col-md-12 col-xs-12 ' style="margin-bottom:15px;">
              <div class='col-lg-4 col-md-4 col-xs-4 '>
                <%= "Name: #{dynamic_form_input_group.name}" %><br/>
                <%= "Title: #{dynamic_form_input_group.title}" %><br/>
                <%= "Description: " + truncate(dynamic_form_input_group.description, length: 200, escape: false).to_s.html_safe %><br/>
                <%= "Input Type: #{dynamic_form_input_group.input_group_type}" %><br/>
              </div>
              <div class='col-lg-1 col-md-1 col-xs-1 '>
                <%= link_to 'Edit', edit_dynamic_form_input_group_path(dynamic_form_input_group) %><br/>
                <%= link_to 'Clone', copy_dynamic_form_input_group_path(dynamic_form_input_group.id), data: { confirm: 'Are you sure?' } %>
              </div>
              <div class='col-lg-1 col-md-1 col-xs-1 '>
                <%= link_to 'Show', dynamic_form_input_group %><br/>
                <%= link_to 'Destroy', dynamic_form_input_group, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
          <div>
            <%= link_to 'New Dynamic form input group', new_dynamic_form_input_group_path %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dynamic form', new_dynamic_form_path %>
