<h1>Listing kwikee_files</h1>

<table>
  <thead>
    <tr>
      <th>Kwikee product</th>
      <th>Kwikee asset</th>
      <th>Extension</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kwikee_files.each do |kwikee_file| %>
      <tr>
        <td><%= kwikee_file.kwikee_product_id %></td>
        <td><%= kwikee_file.kwikee_asset_id %></td>
        <td><%= kwikee_file.extension %></td>
        <td><%= kwikee_file.url %></td>
        <td><%= link_to 'Show', kwikee_file %></td>
        <td><%= link_to 'Edit', edit_kwikee_file_path(kwikee_file) %></td>
        <td><%= link_to 'Destroy', kwikee_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kwikee file', new_kwikee_file_path %>
